<header class="site-header">
  <div class="container">
    <a class="brand" href="/connect">ShotClock Connect</a>
    <nav>
      <a href="/connect">Connect</a>
      <a href="/connect/stats">Stats</a>
    </nav>
  </div>
</header>
